<div class="container">

  <div class="card-header" style="background-color:black">
    <h5 class="float-left" style="color:white">My Profile</h5>
  </div>

  <br>

  <div class="container">
    <form>
      <div class="container-fluid" class="row">
        <div class="col-lg-2">
          <img src="assets/profileicon.jpg" width="80" height="70">
        </div>

        <div class="col">
          <div class="row">
            <div class="col-md-4">
              <label for="DisplayName">Display Name</label>
            </div>
            <div class="col-md-4">
              <label for="FirstName">First Name</label>
            </div>

            <div class="col-md-4">
              <label for="LastName">Last Name</label>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-4">
              <input type="text" placeholder="Enter your name" id="dname">
            </div>
            <div class="col-md-4">
              <input type="text" placeholder="first name" id="fname">
            </div>

            <div class="col-md-4">
              <input type="text" placeholder="last name" id="lname">
            </div>
          </div>

          <br/>

          <div>
            <label for="about">About Yourself</label>
            <br/>
            <textarea id="about" rows="4" cols="60"></textarea>
          </div>

          <br/>

          <div>
            <label for="interest">Your area of interest</label>
            <div>
              <input type="checkbox" id="designer"> &nbsp;
              <label for="designer">Designer</label>
            </div>
            <div>
              <input type="checkbox" id="developer"> &nbsp;
              <label for="developer">Developer</label>
            </div>
            <div>
              <input type="checkbox" id="projectmanager"> &nbsp;
              <label for="projectmanager">Project Manager</label>
            </div>
            <div>
              <input type="checkbox" id="sales"> &nbsp;
              <label for="sales">Sales</label>
            </div>
          </div>

          <br/>

          <div>
            <label for="role">Are you a student or professional</label>
            <div class="row">
            <div class="col-md-4">
              <input type="radio" id="student" name="student"> &nbsp;
              <label for="student">Student</label>
            </div>
            <div class="col-md-4">
              <input type="radio" id="professional" name="professional"> &nbsp;
              <label for="professional">Professional</label>
            </div>
          </div>
          <div class="container-fluid">
            <div>
              <label for="experience">How much experience you have</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <input type="radio" id="experience1" name="experience1"> &nbsp;
                  <label for="experience1">0-5</label>
                </div>
                <div class="col-md-4">
                  <input type="radio" id="experience2" name="experience2"> &nbsp;
                  <label for="experience2">5-10</label>
                </div>
                <div class="col-md-4">
                  <input type="radio" id="experience3" name="experience3"> &nbsp;
                  <label for="experience3">10 & above</label>
                </div>
              </div>

              <div>
                <label for="experience">What is your expertise</label>
              </div>
              <div class="row">
                  <div class="col-md-4">
                    <input type="radio" id="experience1" name="experience1"> &nbsp;
                    <label for="experience1">Java</label>
                  </div>
                  <div class="col-md-4">
                    <input type="radio" id="experience2" name="experience2"> &nbsp;
                    <label for="experience2">React</label>
                  </div>
                  <div class="col-md-4">
                    <input type="radio" id="experience3" name="experience3"> &nbsp;
                    <label for="experience3">Backend</label>
                  </div>
                </div>

                <div class="row">
                  <label for="professionalRole">Mention your role</label>
                  <input type="text" placeholder="professionalRole" id="professionalRole">
                </div>




          </div>
      </div>
    </div>
    </div>
    </form>
</div>
</div>
